div>.status-publish {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 2rem 0;

    .onsale {
        display: none;
    }

    .summary {
        h1 {
            text-transform: uppercase;
        }
    }

}