.col-12 {
    padding: 0;
}

header {

    .navbar {
        padding: 0.5rem 6rem;
        text-transform: uppercase;
        background-color: transparent;

        h2 {
            font-weight: bold;
        }

        .fa-shopping-bag {
            margin: 0 .5rem;
        }

    }

    .carousel-item {
        padding: 10rem 8rem;

        .col-6 {
            text-align: left;

            h3 {
                font-size: 2.5rem;
            }
        }
    }

    text-align: center;
    background-color: #eeeeee;
    color: black;
}

.main {
    nav {
        display: flex;
        margin: 3rem 0;

        a {
            margin-left: auto;
            color: #fb92a3;
        }

        ul {
            display: flex;
            list-style: none;

            li {
                margin: 0 1rem;

                a {
                    margin: 0;
                    font-weight: 100;
                    color: black;
                }
            }
        }
    }

    section {
        padding: 0 3.5rem;
    }
}

footer {
    padding: 1rem 3.5rem;
    background-color: #eeeeee;

    h3 {}
}